
{{#if loggedIn}}
<form class='comment-form'>
    <div>
        <textarea name='comment-body'></textarea>
    </div>

    <div>
        <button type='submit'>Add comment</button>
        <button type='button' class='upvote-btn'>upvote</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}
{{> post-info post}}

{{#if loggedIn}}
<script src='/javascripts/comment.js'></script>
<script src='/javascripts/upvote.js'></script>
{{/if}}